[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/khatrigopal
[access "refs/for/refs/*"]
	read = group user/khatrigopal
	push = group user/khatrigopal
	label-Code-Review = -2..+2 group user/khatrigopal
	label-Verified = -1..+1 group user/khatrigopal
	rebase = group user/khatrigopal
	removeReviewer = group user/khatrigopal
	submit = group user/khatrigopal
[access "refs/heads/*"]
	read = group user/khatrigopal
	create = group user/khatrigopal
	push = +force group user/khatrigopal
	pushMerge = group user/khatrigopal
[access "refs/tags/*"]
	push = group user/khatrigopal
	push = +force group user/khatrigopal
